/target
/classes
/checkouts
pom.xml
pom.xml.asc
/.lein-*
/.nrepl-port
/log/
/examples/gocd/server/config/
/examples/teamcity/data/
/test/smoke/node_modules/
/test/smoke/package-lock.json
/test/smoke/wiremock-standalone-*.jar
